* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/******** Images ********/

.hero-image { 
    max-height: 500px;
    width: auto;
    display: block;
    margin: 4em auto;
    width: 90%;
    border-radius: 50%;
}

.card,
.gallery-card {
    height: 300px;
    width: auto;
    margin: 4rem 5rem;
    display: block;
    justify-content: center;
    box-shadow: 0 5px 8px 0;
}

#sophie-curlers {
    margin-left: 6.5em;
}

#sophie-tongue-out {
    margin-left: 1em;
    width: 90%;
}

#jaxson-taekwondo {
    margin-left: 7em;
}

#brother-love {
    margin-left: 4em;
}

#baby-sophie {
    margin-left: 4.5em;
}

.header-image {
    height: 250px;
    width: auto;
}

.jaxson-sophie-diana {
    height: 250px;
    width: auto;
    margin-left: 1.5em;
}

/******** Typography *******/

h1 {
    font-size: 3.4rem;
    display: block;
    margin: 3rem 1rem;
    display: flex;
    justify-content: center;
}

.jaxson {
    font-family: 'Ranchers', cursive;
    color: #00e5e8;
}

.sophie {
    font-family: 'Dancing Script', cursive;
    color: #ff3cc7;
}

.and {
    color: #f0f600;
}

/******** Layout ********/

.subtitle {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    color: #1c5d99;
    font-size: 1.1em;
}

.subtitle-1,
.subtitle-2,
.subtitle-3 {
    margin: 1em 0;
    text-align: center;
}

.gallery-subtitle {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    color: #1c5d99;
    font-size: 1.1em;
    margin: 1em .5em;
    text-align: center;
    line-height: 2.5rem;
    padding-top: 1em;
}

.paragraph-about-jaxson {
    color: #1c5d99;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.paragraph-about-sophie {
    color: #542e71;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.aunt-learning p {
    color: #1c5d99; 
    width: 95%;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

p {
    padding: 1rem;
}

.quote {
    background-color: #feffc2;
}

footer {
    background-color: #542e71;
    padding: 2em;
    text-align: center;
    color: #f0f600;
}


/******** Navigation ********/

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    background-color: #feffc2;
    font-size: 1.2em;
    justify-content: space-between;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: #133f67;
    padding: .5em 0;
    display: flex;
    justify-content: center;
    
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

/******** Media Queries ********/

@media (min-width: 675px) {

    /* Images */
    .hero-image { 
        width: 50%;
    }
    .images-of-jaxson-container {
        background-color: #a9cdef;
        display: flex;
        justify-content: space-around;
    }
    .images-of-sophie-container {
        background-color: #cfb7e1;
        display: flex;
        justify-content: space-around;
    }
    .gallery-card {
        display: inline;
        margin: 5rem;
    }
    #brother-love, 
    #jaxson-water-fountain,
    #i-got-you {
        margin-left: 12em;
    } 
     #sophie-tongue-out {
        margin-left: 3em;
        width: 25%;
    }
    #jaxson-taekwondo {
        margin-left: 14em;
    }
    #swim-time {
        margin-left: 8em;
    }
    #lego-time,
    #princess-sophie {
        margin-left: 6.5em;
    }
    .header-image {
        height: 400px;
        width: auto;
        display: block;
        margin-left: 27em;
        margin-bottom: 5em;
    }
    .jaxson-sophie-diana {
        height: 400px;
        width: auto;
        margin-left: 28em;
        margin-bottom: 5em;
    }

    /* Typography */
    h1 {
        font-size: 12rem;
    }
    nav ul {
        flex-direction: row;
        padding: 1em 25em;
    }
    .subtitle {
        font-size: 2em;
        padding: 2rem;
    }
    .subtitle-1,
    .subtitle-2,
    .subtitle-3 {
        margin: -1em 0;
    }
    .gallery-subtitle {
        width: 60%;
        font-size: 2em;
        padding-top: 5em;
        margin-left: 10em;
    }
    
    p {
        margin-left: 7em;
    }
    /* Layout */
    .paragraph-about-jaxson {
        width: 50%;
        font-size: 2em;
        padding-top: 10rem;
    }
    .paragraph-about-sophie {
        width: 50%;
        font-size: 2em;
        padding-top: 10rem;
    }
    .aunt-learning {
        width: 90%;
    }
    .block-quote,
    cite p {
    background-color: #feffc2;
}
}
